<h1 class="headline">Books</h1> 
 <table> 
 
  <thead> 
   <tr> <th>title</th> <th>body</th> <th></th> </tr> 
  </thead>
  
 <tbody> 
   <% @books.each do |book| %> 
   <tr> 
 
    <td> <%= book.title %> </td> <td> <%= book.body %> </td> 
  
  　<!-- （変更前）< %= link_to "show", "/books/#{book.id}"%> -->
  　<!-- idがどんな値なのかを指定しないといけないためbooksには引数を指定。指定する値はレコードのidカラム -->
  　<!-- 以下（変更後） -->
    <td><%= link_to "show", book_path(book.id)%></td> <!-- NEXT  -->
    <td><%= link_to "edit"%></td> 
    <td><%= link_to "destroy", method: :delete, "data-confirm" => "Are you sure?" %></td> 
 
   </tr> 
   <% end %> 
 </tbody> 
  
 </table> 
 
 <h2 class="sub-headline">New book</h2> 
 <!-- バリデーションを行った際のエラー表示 -->
 <!--< % if @book.errors.any? %>-->
 <!-- < %= @book.errors.count %>error prohibited this book from being saved:-->
 <!-- <ul>-->
 <!--  < % @book.errors.full_messages.each do |message| %>-->
 <!--   <li>< %= message %></li>-->
 <!--  < %end%>-->
 <!-- </ul>-->
 <!--< %end%>-->
  
 <!-- form_with部分 --> 
 <%= form_with model: Book.new do |f| %>
 
  <div class="field">
   <p>Title</p>
   <%= f.text_field :title %>
  </div>
  
  <div class="field">
   <p>Body</p>
   <%= f.text_area :body %>
  </div>
  
  <div class="actions">
   <%= f.submit 'Create Book' ,class:"input" %>
  </div>
 
 <% end %>
 
  <!-- この次は投稿を保存するためのcreate機能 -->
