<!--フラッシュメッセージの表示-->
<!--controllerで定義された文字列をそのまま表示させる-->
<div class="flash">
 <%= flash[:notice] %>
</div>

<p class="show-title">
 <strong>Title:</strong> <%= @book.title %>
</p>

<p class="show-body">
 <strong>Body:</strong> <%= @book.body %>
</p>

<p class="show-edit_back">
 <%= link_to "Edit", edit_book_path(@book.id) %>
 |
 <%= link_to "Back", index_book_path(@book.id) %>
</p>
